fb-fileuploader input[type="file"] {
  display: none;
}

fb-fileuploader label {
  border: 1px solid #ccc;
  color: white;
  background-color: #3b723d;
  display: block;
  padding: 6px 12px;
  cursor: pointer;
  margin: 10px;
  text-align: center;
}