fb-filelist {
  display: block;
  background-color: #e4e9ee;
  color: white;
  font-weight: bold;
  padding: 5px;
}

fb-filelist ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}

fb-filelist li a {
  background-color: white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
  display: block;
}

fb-filelist li img {
  height: 16px;
  margin-right: 10px;
}
